.contact {
	border-top: 1px solid #000;
	color: $light;
}

.contact__wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form__box {
	margin-bottom: 1.2rem;
}

.form__label,
.form__field {
	display: block;
	width: 100%;
}

.form__label {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.form__field {
	border: none;
	outline: none;
	border-radius: 0.5rem;
	height: 2.5rem;
	padding: 0.5rem 0.8rem;
	font-size: 1rem;
}

.textarea {
	height: 7rem;
	overflow-y: scroll;
	resize: none;
}

.form__btn {
	padding: 0.8rem 1.2rem;
	border-radius: 0.5rem;
	font-weight: 600;
	background: $primary-light;
	color: $light;
	border: none;
	outline: none;
	font-weight: 600;
	font-size: 1rem;
}

.contact__title {
	margin-bottom: 1rem;
}
.contact__social {
	display: flex;
	gap: 2rem;
	a {
		color: $gray-light;
		font-size: 1.2rem;
	}
	i {
		margin-right: 0.2rem;
		font-size: 1.2rem;
	}
}

.contact__copyrights {
	width: 100%;
	text-align: center;
	color: $gray-light;
	padding: 1.2rem;
}

@media screen and (min-width: 840px) {
	.contact__wrapper {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.contact__info,
	.form {
		width: 50%;
	}

	.contact__title {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	.contact__social {
		a:hover {
			transition: color 0.3s ease-in-out;
			cursor: pointer;
			color: $light;
		}
	}
	.form__btn:hover {
		transition: background 0.3s ease-in-out;
		cursor: pointer;
		background: $primary;
	}
}
